<html>
    <head>
        <title>pi-netatmo-controller</title>
    </head>
    <body>
        <h1 style="color:#093657">Raspberry Pi Netatmo Thermostat Controller
        </h1>

        <h2>Current Status</h2>

        Temp: {{context.temperature|round}}
        <p>
        Humidity Temp: {{context.humidity|round}}
        <p>

        {% if context.netatmo is not none %}
            Current netatmo setpoint is {{context.netatmo.therm_setpoint_temperature}}
        {% else %}
            No Netatmo info available.    
        {% endif %}    

        <p>

        <a href="http://{{context.servinghost}}:9090/graph?g0.range_input=12h&g0.expr=app_gauges&g0.tab=0" target="_blank">
            Open Prometheus
        </a>

        <p>

        {% if context.config.token is none %}
            <a href="https://api.netatmo.com/oauth2/authorize?client_id={{context.config.clientid}}&redirect_uri={{context.config.redirect_url}}&scope=read_thermostat%20write_thermostat&state={{context.state}}">Authorise Now</a>
        {% else %}
            <i>You are authorised.</i>
        {% endif %}    

        <hr/>
        
        <h2>Settings</h2>

        <form action="/" method="post">
            <label for="desired">Desired room temperature:</label>
            <input type="number" id="desired" name="desired" min="1" max="30" value="{{context.config.desiredtemp}}"> <br>
            <label for="status">Enabled:</label>
            <input type="checkbox" name="status" value="on"{% if context.config.enabled==1 %}checked{% endif %}><br>
            <input type="submit" value="Submit"><br>     
        </form>

    </body>
</html>